.verde{
    color:green;
   
}
.rojo{
    color:brown
}
.naranja{
    color:orangered
}
.azul{
    color:blue
}
.amarillo{
    color:darkgoldenrod
}
.morado{
    color:blueviolet
}
.gris{
    color:gray;
    
}
.boton{
    display:flex;
    margin: 10px;
    border-radius: 4px;

}
.verde2{
    background-color: green;
    
}

.azul2{
    background-color: blue;
    
}
.naranja2{
    background-color: orange;
    
}
.amarillo2{
    background-color: yellow;
    
    
}
.morado2{
    background-color:blueviolet;
    
}
.gris2{
    background-color: gray;
    
}
.container{
    padding: 0;
    margin:  0;
    display:flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    font-weight: 600;
    font-size: 20px;

}
.caja_gigante{
    background-color: aquamarine;
}
.botones{
    margin-top: 50px;
    margin:20px 20px 20px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.botones{
    display: flex;
    margin:10px;
}
.columnas{
    display:flex;
    margin:20px;
    align-items: center;
    
}
